<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/error-page.css" />
    <title>Document</title>
  </head>
  <body>
  
    <div class="mars">
      <img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
      <img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
      <p class="title">Oh no!! Page Not Found</p>

      <div align="center">
        <a class="btn-back" href="/">Back to Home page</a>
      </div>
    </div>
  </body>
</html>
