<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/register.css" />
    <title>Login</title>
  </head>
  <body>
    <style>
      form{ margin: auto; margin-top: 100px;}
    </style>

    <form novalidate action="/auth/login" method="post" class="login-form">
      {{#if message}}
        <h4 class="error-message">{{message}}</h4>
      {{/if}}
      <h2>Login</h2>

      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />

      <input type="submit" value="Sign In" />
      <p>
        Don't Have An Account?
        <a href="/register" id="register">Register here</a>
      </p>
    </form>
  </body>

</html>