<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/profile.css" />
    <title>Profile || {{name}}</title>
  </head>
  <body>

    <nav></nav>
    <div class="con-tech">
      <div class="container">
        <h1>Hello
          <span style="color: rgb(247, 125, 10);">{{name}}</span>
          This Is Your Profile Page
        </h1>
        <div class="avatar">
          <img src="/avatar.jpg" alt="" />
        </div>
        <div class="user-description">
          <p>"Welcome aboard! Your journey begins now. </p>
          <p>Thanks for choosing us – let's make it a great experience
            together!"</p>
        </div>
      </div>
      <div class="tech">
        <h2>NodeJS --- MYSQL Project</h2>
      </div>
    </div>
  </body>
</html>