<html>
  <head>
    <link rel="stylesheet" href="/login.css" />
    <title>Login Template</title>

  </head>
  <body>
    <div class="login-container">
      <form action="/auth/register" method="post" class="login-form">
        <h2>Login</h2>
        <input type="text" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <input
          type="password"
          name="passwordConfirm"
          placeholder="Confirm Password"
          required
        />
        <input type="submit" value="Sign In" />
        <p>
          Don't Have An Account?
          <a href="#">Register here</a>
        </p>
      </form>
      {{#if message}}
        <h4 style="background-color: rgb(214, 76, 76);">{{message}}</h4>
      {{/if}}
    </div>
  </body>
</html>