.mars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title {
  font-weight: bolder;
  font-size: 42px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
